@import "//fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap";

h1 {
    font-family: 'Roboto Slab', serif;
}

input:focus {
    outline: none;
}

#searchbar {
    background-color: #fff;
    /* height: 45px; */
    border: 0.5px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#searchbar input {
    width: 100%;
    height: 100%;
    border: none;
}

.directionsPanel {
    width: 100% !important;
}