@import "//fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap";

@media(max-width: 445px){
    h1 {
        font-size: 2rem !important;
    }

    #input-container {
        padding: 0;
    }
}

@media(max-width: 320px){
    h1 {
        font-size: 1.75rem !important;
    }
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #333;
}

h1 a {
    color: #333;
    text-decoration: none;
}

a{
    color: #5cb85c;
}

a:hover {
    text-decoration: none;
}

input:focus {
    outline: none;
}

#searchbar {
    background-color: #fff;
    /* height: 45px; */
    border: 0.5px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#searchbar input {
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}

.directionsPanel {
    width: 100% !important;
}